<div class="my-operate-bar">
    <a href="/home/index" class="my-btn-back">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span>返回</span>
    </a>
    <span class="my-title">
        新增支出
    </span>
</div>

<form class="addPay-form" role="form">
    <div class="form-group">
        <label for="amount">金额</label>
        <input type="email" class="form-control" id="amount" placeholder="支出金额">
    </div>
    <div class="form-group">
        <label for="remark">备注</label>
        <input type="text" class="form-control" id="remark" placeholder="支出备注">
    </div>
    <div class="form-group">
        <label for="date">日期</label>
        <input type="date" class="form-control" id="date" placeholder="支出日期">
    </div>
    <a class="btn btn-group-justified btn-primary">保存</a>
</form>

