<header>
    <span class="avatar">
        <img src="../../../app/front/index/images/avatar.png"/>
    </span>
    <span class="username">
        许斌风
    </span>
    <a routerLink="/home/favors">进入收藏</a>
</header>
<div class="my-normal-line"></div>

<div class="sumaryArea">
    <div class="my-row">
        <span class="sumaryLabel">总收入：</span><span>500</span><a class="my-btn" routerLink="/home/addEarn">新增收入</a>
    </div>
    <div class="my-row">
        <span class="sumaryLabel">总支出：</span><span>500</span><a class="my-btn" routerLink="/home/addPay">新增支出</a>
    </div>
</div>

<div class="functionArea list-group">
    <a class="list-group-item" routerLink="/home/query">支出查询</a>
    <a class="list-group-item" routerLink="/home/query">收入查询</a>
</div>